<div class="row nav-container">
  <div class="col-md-12 app-nav" ng-include="'nav/nav.html'"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="inline-heading">
      <h2>Construction Defaults <span class="divider">|</span></h2> You can refine these defaults down to the individual surface later. But this will
      take care of most of the surfaces in your building.
    </div>
  </div>
</div>
<div class="row pad-bot-20">
  <div class="col-md-12">
    <button type="button" ng-click="expandAll()" class="btn btn-info">Expand All</button>
    <button type="button" ng-click="collapseAll()" class="btn btn-info">Collapse All</button>
  </div>
</div>
<div class="row pad-bot-20">
  <accordion class="col-md-12" close-others="false">
    <accordion-group ng-repeat="panel in panels" is-open="panel.open">
      <accordion-heading>
        <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': panel.open, 'glyphicon-chevron-right': !panel.open}"></i>
        {{panel.title}}<span ng-show="panel.selected"> &mdash; <strong>{{panel.selected.name}}</strong></span>
      </accordion-heading>
      <div ng-hide="panel.selected">
        <button type="button" class="btn btn-info" ng-click="openConstructionLibraryModal($index)">Select a Construction</button>
      </div>
      <div ng-show="panel.selected">
        <div ui-grid="panel.constructionGridOptions" class="grid-80 mar-bot-20" ui-grid-resize-columns></div>
        <div ng-if="panel.name != 'underground_floor'">
          <div ui-grid="panel.gridOptions" class="layers-grid mar-bot-20" ui-grid-resize-columns></div>
        </div>
        <button type="button" class="btn btn-info" ng-click="openConstructionLibraryModal($index, panel.selected)">Change Construction</button>
        <button type="button" class="btn btn-danger" ng-show="panel.selected" ng-click="removeConstruction($index)">Remove Construction</button>
      </div>
    </accordion-group>
    <accordion-group ng-repeat="panel in doorPanels" is-open="panel.open">
      <accordion-heading>
        <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': panel.open, 'glyphicon-chevron-right': !panel.open}"></i>
        {{panel.title}}<span ng-show="panel.selected"> &mdash; <strong>{{panel.selected.name}}</strong></span>
      </accordion-heading>
      <div ng-hide="panel.selected">
        <button type="button" class="btn btn-info" ng-click="openDoorLibraryModal($index)">Select a Door</button>
      </div>
      <div ng-show="panel.selected">
        <div ui-grid="panel.doorGridOptions" class="grid-80" ui-grid-resize-columns></div>
        <br>
        <button type="button" class="btn btn-info" ng-click="openDoorLibraryModal($index, panel.selected)">Change Door</button>
        <button type="button" class="btn btn-danger" ng-show="panel.selected" ng-click="removeDoor($index)">Remove Door</button>
      </div>
    </accordion-group>
    <accordion-group ng-repeat="panel in fenPanels" is-open="panel.open">
      <accordion-heading>
        <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': panel.open, 'glyphicon-chevron-right': !panel.open}"></i>
        {{panel.title}}<span ng-show="panel.selected"> &mdash; <strong>{{panel.selected.name}}</strong></span>
      </accordion-heading>
      <div ng-hide="panel.selected">
        <button type="button" class="btn btn-info" ng-click="openFenLibraryModal($index)">Select a Fenestration</button>
      </div>
      <div ng-show="panel.selected">
        <div ui-grid="panel.fenGridOptions" class="grid-80" ui-grid-resize-columns></div>
        <br>
        <button type="button" class="btn btn-info" ng-click="openFenLibraryModal($index, panel.selected)">Change Fenestration</button>
        <button type="button" class="btn btn-danger" ng-show="panel.selected" ng-click="removeFenestration($index)">Remove Fenestration</button>
      </div>
    </accordion-group>
  </accordion>
</div>

<div class="row pad-bot-20">
  <div class="control-group col-md-1">
    <div class="controls">
      <button type="submit" ng-click="submit()" class="btn btn-success">Save</button>
    </div>
  </div>
</div>
