<div class="row">
  <div class="col-md-12 app-nav" ng-include="'nav/nav.html'"></div>
</div>
<div class="row">
  <div class="col-md-12 pad-left-40">
    <div class="inline-heading">
      <h2>Construction Defaults |</h2> You can refine these defaults down to the individual surface later. But this will
      take care of most of the surfaces in your building.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
  </div>
</div>

<accordion close-others="false">
  <accordion-group ng-repeat="panel in panels" is-open="panels[$index].open">
    <accordion-heading>
      <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': panels[$index].open, 'glyphicon-chevron-right': !panels[$index].open}"></i>
      {{panel.title}}
    </accordion-heading>
    {{panel.title}}
  </accordion-group>
</accordion>
