<div class="row">
  <div class="col-md-12 app-nav" ng-include="'nav/nav.html'"></div>
</div>
<div class="row">
  <div class="col-md-12 pad-left-40">
    <div class="inline-heading">
      <h2>Construction Defaults |</h2> You can refine these defaults down to the individual surface later. But this will
      take care of most of the surfaces in your building.
    </div>
  </div>
</div>
<accordion close-others="false">
  <accordion-group ng-repeat="panel in panels" is-open="panels[$index].open">
    <accordion-heading>
      <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': panels[$index].open, 'glyphicon-chevron-right': !panels[$index].open}"></i>
      {{panel.title}}<span ng-show="panels[$index].selected"> &mdash; <strong>{{panels[$index].selected.name}}</strong></span>
    </accordion-heading>
    <div ng-hide="panels[$index].selected">
      <button class="btn btn-info" ng-click="openLibraryModal($index)">Select a Construction</button>
    </div>
    <div ng-show="panels[$index].selected">
      <div ui-grid="panels[$index].gridOptions" class="layersGrid" ui-grid-resize-columns></div>
      <br>
      <button class="btn btn-info" ng-click="openLibraryModal($index, panels[$index].selected)">Change Construction</button>
      <button class="btn btn-danger" ng-show="panels[$index].selected" ng-click="removeConstruction($index)">Remove Construction</button>
    </div>
  </accordion-group>
</accordion>
