<div class="modal-header">
  <h3 class="modal-title">{{title}} Library</h3>
</div>
<div class="modal-body">
  <h4>Select a construction:</h4>
  <div ui-grid="constructionsGridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection></div>
  <div ng-if="type != 'UndergroundFloor'">
    <h4>Layers:</h4>
    <div ui-grid="layersGridOptions" class="layers-grid" ui-grid-auto-resize ui-grid-resize-columns></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!selected">OK</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
