<p id="notice"><%= notice %></p>


<%= link_to 'Run Simulation', run_simulation_path(@simulation) %> |
<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', simulations_path %>
