<div class="row nav-container">
  <div class="col-md-12 app-nav" ng-include="'nav/nav.html'"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="inline-heading">
      <h2>Check Compliance <span class="divider">|</span></h2> Run a compliance check and view results.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-4">
    <div ng-if="isComplete()" class="pad-top-20"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Run
      Complete
    </div>
    <div><strong>Status</strong> {{simulation.status}}</div>
    <div><strong>Status Message</strong> {{simulation.percent_complete_message[simulation.percent_complete_message.length - 1]}}</div>
    <div ng-if="isRunning()" class="pad-top-20">
      <div><strong>Progress</strong>
        <progressbar class="progress-striped active" max="100" value=simulation.percent_complete type="success"><i>{{simulation.percent_complete}}</i>
        </progressbar>
      </div>
    </div>
    <div ng-if="isComplete() && hasErrors()" class="pad-top-20">
      <accordion>
        <accordion-group is-open="errors_open">
          <accordion-heading>
            <i class="pull-left glyphicon pad-right-5"
               ng-class="{'glyphicon-chevron-down': errors_open, 'glyphicon-chevron-right': !errors_open}"></i>

            Errors
            <span class="label label-danger">{{simulation.error_messages.length}}</span>

          </accordion-heading>
          <table class="table table-striped">
            <tr ng-repeat="(key, value) in simulation.error_messages">
              <td>{{simulation.error_messages[key]}}</td>
            </tr>
          </table>
        </accordion-group>
      </accordion>
    </div>
    <div ng-if="isComplete() && hasWarnings()" class="pad-top-20">
      <accordion>
        <accordion-group is-open="warnings_open">
          <accordion-heading>
            <i class="pull-left glyphicon pad-right-5"
               ng-class="{'glyphicon-chevron-down': warnings_open, 'glyphicon-chevron-right': !warnings_open}"></i>

            Warnings
            <span class="label label-danger">{{simulation.warning_messages.length}}</span>

          </accordion-heading>
          <table class="table table-striped">
            <tr ng-repeat="(key, value) in simulation.warning_messages">
              <td>{{simulation.warning_messages[key]}}</td>
            </tr>
          </table>
        </accordion-group>
      </accordion>
    </div>


    <button type="button" class="btn btn-success btn-block text-left" ng-click="getXml()"
            data-ng-disabled="isRunning()">
      <i class="fa fa-arrow-circle-right fa-lg"></i> <span ng-if="isComplete()">Re-Run Compliance Check</span> <span
        ng-if="!isComplete()">Run Compliance Check</span>
    </button>

    <div ng-if="isComplete()">
      <div class="pad-top-20"><strong>Downloads</strong></div>
      <div ng-if="hasCompliancePDF()">
        <a ng-href="{{simulationDownloadReport('compliance_pdf')}}" type="button" class="btn btn-info btn-block mar-top-5 text-left">
          <i class="fa fa-arrow-circle-o-down fa-lg"></i> Certificate of Compliance (PDF)
        </a>
      </div>
      <div ng-if="hasComplianceXml()">
        <a ng-href="{{simulationDownloadReport('compliance_xml')}}" type="button" class="btn btn-info btn-block mar-top-5 text-left">
          <i class="fa fa-arrow-circle-o-down fa-lg"></i> Certificate of Compliance (XML)
        </a>
      </div>
      <a ng-href="{{sddXmlPath()}}" type="button" class="btn btn-info btn-block mar-top-5 text-left">
        <i class="fa fa-arrow-circle-o-down fa-lg"></i> SDD Input Model (XML)
      </a>
      <div ng-if="hasAnalysisXml()">
        <a ng-href="{{simulationDownloadReport('analysis_xml')}}" type="button" class="btn btn-info btn-block mar-top-5 text-left">
          <i class="fa fa-arrow-circle-o-down fa-lg"></i> SDD Model with Results (XML)
        </a>
      </div>
      <div ng-if="hasOpenStudioProposed()">
        <a ng-href="{{simulationDownloadReport('openstudio_proposed')}}" type="button" class="btn btn-info btn-block mar-top-5 text-left">
          <i class="fa fa-arrow-circle-o-down fa-lg"></i> OpenStudio Model - Proposed (OSM)
        </a>
      </div>
      <div ng-if="hasOpenStudioBaseline()">
        <a ng-href="{{simulationDownloadReport('openstudio_baseline')}}" type="button" class="btn btn-info btn-block mar-top-5 text-left">
          <i class="fa fa-arrow-circle-o-down fa-lg"></i> OpenStudio Model - Baseline (OSM)
        </a>
      </div>
      <div ng-if="hasResultsZip()">
        <a ng-href="{{simulationDownloadReport('results_zip')}}" type="button" class="btn btn-info btn-block mar-top-5 text-left">
          <i class="fa fa-arrow-circle-o-down fa-lg"></i> All files (ZIP)
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-lg-offset-2 col-md-8">


  </div>
</div>
<div class="pad-bot-20"></div>
