<div class="collapse navbar-collapse" ng-controller="NavCtrl">
  <ul class="nav nav-pills">
    <li class="app-nav-item" ng-class="{ active: isActive('/')}"><a href="#/">Introduction</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/project')}"><a href="#/project">Project</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/building')}"><a href="#/building">Building</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/constructions')}"><a href="#/constructions">Constructions</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/spaces')}"><a href="#/spaces">Spaces</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/systems')}"><a href="#/systems">Systems</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/zones')}"><a href="#/zones">Thermal Zones</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/review')}"><a href="#/review">Review and Edit</a></li>
    <li class="app-nav-item" ng-class="{ active: isActive('/compliance')}"><a href="#/compliance">Check Compliance</a>
    </li>
  </ul>
</div>