<div class="row">
  <div class="">
    <div class="btn-group-vertical btn-group-lg col-md-2" role="group" aria-label="chilled_water_navigation">
      <button class="btn-wrap" type="button" ng-click="setActiveTab('chilled_water', 'pump')" ng-class="getTabClass('chilled_water', 'general')">Chilled Water Plant General Settings</button>
      <button type="button" ng-click="setActiveTab('chilled_water', 'pump')" ng-class="getTabClass('chilled_water', 'pump')">Pump</button>
      <button type="button" ng-click="setActiveTab('chilled_water', 'chiller')" ng-class="getTabClass('chilled_water', 'chiller')">Chiller</button>
      <button class="btn-wrap" type="button" ng-click="setActiveTab('chilled_water', 'coil_cooling')" ng-class="getTabClass('chilled_water', 'coil_cooling')">Connected Cooling Coils</button>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <p class="bold-text">Only one of each type of plant may be used in this tool. You have to combine all your chilled water plants.</p>
      <p>Select the overall system or the components to edit the settings of each system.</p>
      <p class="bold-text" ng-if="isActiveTab('chilled_water', 'coil_cooling')">The following Cooling Coils are connected to this Chilled Water Plant.  If you need to edit any of these coils, go back to the system section above.</p>
    </div>
    <div class="row pad-top-20">
      <div class="col-md-12">
        <div class="tab-content">
          <div ng-repeat="tab in plantTabs.chilled_water" ng-show="isActiveTab('chilled_water', tab)">
            <div ui-grid="gridPlantOptions.chilled_water[tab]" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ui-grid-selection ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
