<div class="row">
  <div class="btn-group-vertical btn-group-lg col-md-2" role="group" aria-label="condenser_navigation">
    <button type="button" ng-click="setActiveTab('condenser', 'pump')" ng-class="getTabClass('condenser', 'pump')">Pump</button>
    <button type="button" ng-click="setActiveTab('condenser', 'heat_rejection')" ng-class="getTabClass('condenser', 'heat_rejection')">Cooling Tower</button>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <p class="bold-text">This condenser plant was automatically added based on the 'Condenser Type' of your chilled water plant. Only one condenser plant may be used in this tool. You have to combine all your condenser plants.</p>
        <p>Select the components to edit the settings of each system.</p>
      </div>
    </div>
    <div class="row pad-top-20">
      <div class="col-md-12">
        <div ng-repeat="tab in plantTabs.condenser" ng-if="isActiveTab('condenser', tab)">
          <div ui-grid="gridPlantOptions.condenser[tab]" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ng-class="{'grid-100': tab!='coil_cooling'}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
