<div class="row nav-container">
  <div class="col-md-12 app-nav" ng-include="'nav/nav.html'"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="inline-heading">
      <h2>Add Your Systems <span class="divider">|</span></h2> Add air, zone, and fluid systems and edit the settings on the components.
    </div>
  </div>
</div>

<div class="row pad-top-20 pad-bot-20">
  <div class="col-md-12">
    <button type="button" ng-click="openSystemCreatorModal()" class="btn btn-success">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New System
    </button>
    <button type="button" ng-click="expandAll()" class="btn btn-info">Expand All</button>
    <button type="button" ng-click="collapseAll()" class="btn btn-info">Collapse All</button>
  </div>
</div>
<accordion close-others="false">
  <accordion-group ng-repeat="panel in systemPanels" is-open="panel.open" ng-if="hasSystems(panel.name)">
    <accordion-heading>
      <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': panel.open, 'glyphicon-chevron-right': !panel.open}"></i>
      {{panel.title}}
      <span ng-if="systems[panel.name].length">
          |
          <small>
            <span class="label label-primary">{{systems[panel.name].length}}</span> added
          </small>
      </span>
    </accordion-heading>

    <div class="system" ng-switch on="panel.name">
      <div ng-switch-when="ptac">
        <div ng-include="'systems/ptac.html'"></div>
      </div>
      <div ng-switch-when="fpfc">
        <div ng-include="'systems/fpfc.html'"></div>
      </div>
      <div ng-switch-when="szac">
        <div ng-include="'systems/szac.html'"></div>
      </div>
      <div ng-switch-when="vav">
        <div ng-include="'systems/vav.html'"></div>
      </div>
      <div ng-switch-when="pvav">
        <div ng-include="'systems/pvav.html'"></div>
      </div>
      <div ng-switch-when="exhaust">
        <div ng-include="'systems/exhaust.html'"></div>
      </div>
    </div>
  </accordion-group>
</accordion>
<div class="row pad-top-20">
  <div class="col-md-12">
    <div class="inline-heading">
      <div ng-show="noPlants()">
        <h3>Add Your Fluid Systems <span class="divider">|</span></h3> Edit the following fluid systems which are connected to the zone and air systems entered above.
      </div>
    </div>
  </div>
</div>
<accordion close-others="false">
  <accordion-group ng-repeat="panel in plantPanels" is-open="panel.open" ng-if="hasPlant(panel.name)">
    <accordion-heading>
      <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': panel.open, 'glyphicon-chevron-right': !panel.open}"></i>
      {{panel.title}}
      <span ng-if="plants[panel.name].length">
          |
          <small>
            <span class="label label-primary">{{plants[panel.name].length}}</span> added
          </small>
      </span>
    </accordion-heading>

    <div class="system" ng-switch on="panel.name">
      <div ng-switch-when="hot_water">
        <div ng-include="'systems/hot_water.html'"></div>
      </div>
      <div ng-switch-when="chilled_water">
        <div ng-include="'systems/chilled_water.html'"></div>
      </div>
      <div ng-switch-when="condenser">
        <div ng-include="'systems/condenser.html'"></div>
      </div>
      <div ng-switch-when="shw">
        <div ng-include="'systems/shw.html'"></div>
      </div>
    </div>
  </accordion-group>
</accordion>

<div class="row pad-bot-20 pad-top-20">
  <div class="control-group col-md-1">
    <div class="controls">
      <button type="submit" class="btn btn-success" ng-click="submit()">Save</button>
    </div>
  </div>
</div>
