<div class="modal-header inline-heading-modal">
  <h3 class="modal-title">Add Systems</h3>
</div>
<div class="modal-body">
  <div class="row pad-bot-20">
    <div class="col-md-7">
      <div class="form-group">
        <label for="system" class="col-md-2 control-label col-md-offset-1">
          System Type:
        </label>
        <div class="col-md-6">
          <select class="form-control" id="system" name="system" ng-model="type" ng-options="s.id as s.name for s in systemTypes">
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="quantity" class="col-md-2 control-label">
          Quantity:
        </label>
        <div class="col-md-5">
          <input type="text" id="quantity" name="quantity" ng-model="quantity" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      {{ systemDescriptions[type] }}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="add()" ng-disabled="!type">OK</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
