<div ng-controller="ZonesSystemsCtrl">
  <div class="row pad-top-20 pad-bot-20">
    <div class="col-md-12">
      <!-- <button type="button" ng-click="data.addZone()" class="btn btn-success">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thermal Zone
       </button>
       <div class="pull-right">
         <button type="button" ng-click="data.deleteZone(selected, gridApi)" class="btn btn-danger" ng-disabled="!selected.zone">Delete</button>
       </div>-->
    </div>
  </div>
  <div ui-grid="systemsGridOptions" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ui-grid-selection></div>
</div>
