<div class="modal-header">
  <h3 class="modal-title">Change to Project Water Heating</h3>
</div>
<div class="modal-body">By setting this field to 'Yes', you are excluding water heating from the design of the building.  Making this change will remove the Service Hot Water system from this project. Are you sure you want to make this change?</div>
<div class="modal-footer">
  <button id="continueBtn" type="button" class="btn btn-primary" ng-click="ok()">Keep my Change</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Revert my Change</button>
</div>
