<div ng-app="cbecc" ng-strict-di>
  <div ui-view konami="konami()"></div>
  <toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>
  <span us-spinner spinner-key="spinner"></span>
</div>
