<div ng-app="cbecc">
  <div ui-view></div>
  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>
  <span us-spinner spinner-key="spinner"></span>
</div>
