<div class="row pad-top-20 pad-bot-20">
  <div class="col-md-12">
    <button type="button" ng-show="applySettingsActive" ng-click="data.selectAll(gridApi)" class="btn btn-info">Select All</button>
    <button type="button" ng-show="applySettingsActive" ng-click="data.clearAll(gridApi)" class="btn btn-info">Clear All</button>
    <div class="pull-right">
      <button type="button" ng-hide="applySettingsActive" ng-click="applySettings()" class="btn btn-info" ng-disabled="!selectedSpace">Apply Settings</button>
      <div class="btn-group" dropdown ng-show="applySettingsActive">
        <button type="button" class="btn btn-info" ng-click="confirmApplySettings()">Select Rows to Update...</button>
        <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="resetApplySettings()">Cancel</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div ui-grid="gasGridOptions" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ui-grid-selection></div>
