<div class="modal-header inline-heading-modal">
  <h3 class="modal-title">Luminaire Creator</h3>
</div>
<div class="modal-body">
  <div ui-grid="gridOptions" class="space-creator-grid-1" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!data[0].name.length || data[0].power == null">OK</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
