<div ng-controller="SubtabSettingsCtrl">
  <div class="row pad-top-20 pad-bot-20">
    <div class="col-md-12">
      <div class="pull-right">
        <button type="button" ng-click="data.duplicateSpace()" class="btn btn-info" ng-disabled="!data.selectedSpace">Duplicate</button>
        <button type="button" ng-click="data.deleteSpace()" class="btn btn-danger" ng-disabled="!data.selectedSpace">Delete</button>
      </div>
    </div>
  </div>
  <div ui-grid="data.settingsGridOptions" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ui-grid-selection></div>
</div>
