<div class="modal-header inline-heading-modal">
  <h3 class="modal-title">Quick Space Creator <span class="divider">|</span></h3> You can add to, edit, and delete these later in a table view. This is to help you quickly create a table with your basic spaces and surfaces to refine. Add walls and floors, and configure the details later in the view.
</div>
<div class="modal-body">
  <button type="button" class="btn btn-success" ng-click="addSpaceGroup()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Space Types and the Number of Each Space Type
  </button>
  <hr>
  <div ng-repeat="spaceGroup in spaceGroups">
    <div class="clearfix pad-bot-10">
      <button type="button" class="btn btn-danger pull-right" ng-click="removeSpaceGroup($index)">Remove</button>
    </div>
    <div ui-grid="spaceGroups[$index].gridOptions" class="space-creator-grid-1" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns></div>
    <br>

    <div ui-grid="spaceGroups[$index].wallGridOptions" class="space-creator-grid-2" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns></div>
    <hr>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!okCondition()">OK</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
