<div class="row">
  <div class="col-md-12 app-nav" ng-include="'nav/nav.html'"></div>
</div>
<div class="row">
  <div class="col-md-12 pad-left-40">
    <div class="inline-heading">
      <h2>Building Spaces |</h2> Edit and add spaces, walls, floors, and roofs. Move through each tab below to complete.
    </div>
    <div class="collapse navbar-collapse" ng-controller="NavCtrl">
      <ul class="nav nav-pills">
        <li class="app-nav-item" ng-class="{ active: isActiveSub('/spaces')}"><a ui-sref="spaces.main">Spaces</a></li>
        <li class="app-nav-item" ng-class="{ active: isActiveSub('/spaces/settings')}"><a ui-sref="spaces.settings">Space Type Settings</a></li>
        <li class="app-nav-item" ng-class="{ active: isActiveSub('/spaces/surfaces')}"><a ui-sref="spaces.surfaces">Surfaces: Walls, Floors, Ceilings and Roofs</a></li>
        <li class="app-nav-item" ng-class="{ active: isActiveSub('/spaces/subsurfaces')}"><a ui-sref="spaces.subsurfaces">Sub-surfaces: Windows, Doors, and Skylights</a></li>
        <li class="app-nav-item" ng-class="{ active: isActiveSub('/spaces/ventilation')}"><a ui-sref="spaces.ventilation">Ventilation &amp; Exhaust</a></li>
        <li class="app-nav-item" ng-class="{ active: isActiveSub('/spaces/loads')}"><a ui-sref="spaces.loads">Loads</a></li>
        <li class="app-nav-item" ng-class="{ active: isActiveSub('/spaces/lighting')}"><a ui-sref="spaces.lighting">Lighting</a></li>
      </ul>
    </div>
    <div ui-view>
      <div ng-include="'spaces/main.html'"></div>
    </div>
  </div>
</div>