<div class="row pad-top-20 pad-bot-20">
  <div class="col-md-12">
    <button type="button" ng-click="addSubsurface('Window')" class="btn btn-info" ng-disabled="!data.surfaces.length">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ceiling
    </button>
    <button type="button" ng-click="addSubsurface('Door')" class="btn btn-info" ng-disabled="!data.surfaces.length">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Door
    </button>
    <button type="button" ng-click="addSubsurface('Skylight')" class="btn btn-info" ng-disabled="!data.surfaces.length">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Skylight
    </button>
    <div class="pull-right">
      <button type="button" ng-click="duplicateSubsurface()" class="btn btn-info" ng-disabled="!selectedSubsurface">Duplicate</button>
      <button type="button" ng-click="deleteSubsurface()" class="btn btn-danger" ng-disabled="!selectedSubsurface">Delete</button>
    </div>
  </div>
</div>
<div ui-grid="subsurfacesGridOptions" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ui-grid-selection></div>
