<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @curve_linear.name %>
</p>

<%= link_to 'Edit', edit_curve_linear_path(@curve_linear) %> |
<%= link_to 'Back', curve_linears_path %>
