<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cartesian_point.name %>
</p>

<%= link_to 'Edit', edit_cartesian_point_path(@cartesian_point) %> |
<%= link_to 'Back', cartesian_points_path %>
