<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
    {{flash.message}}
  </article>
</aside>
<form class="form-horizontal" role="form" class="edit-user" name="testForm">
  <div class="form-group" ng-class="errors.name ? 'error' : ''">
    <label 
      for="name" 
      class="col-md-2 control-label col-md-offset-2">
      Name
    </label>
    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="e.g. Baked Alaska" ng-model="test.name">
    </div>
    <div field_error errors="errors" field="name"></div>
  </div>
  <div class="form-group" ng-class="errors.zip_code ? 'error' : ''">
    <label 
      for="instructions" 
      class="col-md-2 control-label col-md-offset-2">
      Zipcode
    </label>
    <div class="col-md-5">
      <input type="text" name="zip_code" class="form-control" ng-model='test.zip_code' placeholder="e.g. 80401">
    </div>
    <div field_error errors="errors" field="zip_code"></div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button class="btn btn-default" ng-click="cancel()"> Cancel</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" ng-click="save()"> Save </button>
    </div>
  </div>
</section>