
<header class="row">
  <div class="col-md-12" ng-include="'nav/nav_example.html'"></div>
  <h1 class="text-center col-md-6 col-md-offset-3">Find Tests</h1>
</header>
<section class="row">
  <form>
    <div class="form-group col-md-6 col-md-offset-3">
      <label for="keywords" class="sr-only">Keywords</label>
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Test name, e.g. Baked Potato">
    </div>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(keywords)" class="btn btn-primary btn-lg">Search</button>
      <button ng-click="newTest()" class="btn btn-info btn-lg">New Test…</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="tests">
  <ul class="list-unstyled">
    <li ng-repeat="test in tests">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="view(test.id)" >{{test.name}}</a> </h1>
        <div class="col-md-6">
          <button ng-click="edit(test.id)" class="btn btn-info">Edit</button>
        </div>
      </section>
    </li>
  </ul>
</section>