

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


.pad-all-sm {
	padding:20px;
}

.pad-left-sm {
	padding-left: 30px;
}

.save-btn {
  text-align:center;
  padding: 20px 10px;
}

.multicol-header{
	text-align: center;
	border-right: 1px solid #ddd;
}

.edittable th,
.edittable td {
  padding: 8px;
  line-height: 25px;
}

.edittable {
  input {
    width: 350px;
  }
  input[type=checkbox]{
    width: 30px;
  }
  .cb-label {
    font-weight:normal;
    width:320px;
    margin:5px 0 0;
  }
  textarea {
    width: 350px;
    height: 100px;
  }
  select {
    width:  350px;
  }
}
