/*
  * compiled file, but it's generally better to create a new file per style scope.
  *
  *= require_self
  *= require_tree .
*/
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "angular-ui-grid/ui-grid-unstable";
@import "bootstrap-switch/dist/css/bootstrap3/bootstrap-switch";
@import "angularjs-toaster/toaster";
@import "font-awesome";

$sansFontFamily: 'PT Sans', sans-serif;
$baseFontSize: 15px;
$border-grey: #e0e4e6;
$border-blue: #4bb7e9;
$button-grey: #6b6b6b;
$white: #ffffff;
$error-text: #ff0000;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

/* End sticky footer */

.error {
  color: $error-text;
}

.navbar {
  background: #70be44;
  color: #fff;
  min-height: 30px;
  padding: 0;
  margin-bottom: 80px;
  .navbar-inner {
    padding: 0;
  }
  .nav > li:last-child {
    padding-right: 30px;
  }
  .nav > li.active > a {
    color: #fff;
    background: #70be44;
    &:hover {
      color: #fff
    }
  }
  .nav > li > a {
    color: white;
    background: #70be44; /* Old browsers */
    &:hover {
      color: lightgray;
    }
  }
  .navbar-link {
    color: white;
    background: #70be44; /* Old browsers */
    &:hover {
      color: lightgray;
    }
  }
  .navbar-brand > img {
    height: 125px;
    margin-top: -5px;
    margin-left: 10px;
  }
}
.navbar.wizard {
  margin-bottom: 0;
}

/*
.nav-tabs > li > a{
  font-size:100%;
}
 */

.typeahead.dropdown-menu {
  z-index: 200000;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
  color: #0079c2;
  font-size: 32px;
  font-weight: normal;
}

h2 {
  color: #0079c2;
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
}

h3 {
  color: #333;
  font-weight: normal;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #666;
    text-decoration: underline;
  }
}

a.btn {
  &:visited {
    color: #fff;
  }
}

a.sitename {
  font-family: 'PT Sans Caption', sans-serif;
  color: #0079c2;
  font-size: 39px;
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
}

a.link, a.visited {
  color: #004f99;
  font-size: 15px;
}

a.hover {
  color: #c60;
}

input[type='text'], select.form-control, .nav-pills > li > a {
  border-radius: 0;
}

.alert.alert-error {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.pad-all-sm {
  padding: 20px;
}

.pad-left-sm {
  padding-left: 30px;
}

.save-btn {
  text-align: center;
  padding: 20px 10px;
}

.multicol-header {
  text-align: center;
  border-right: 1px solid #ddd;
}

.edittable th,
.edittable td {
  padding: 8px;
  line-height: 25px;
}

.edittable {
  input {
    width: 350px;
  }
  input[type=checkbox] {
    width: 30px;
  }
  .cb-label {
    font-weight: normal;
    width: 320px;
    margin: 5px 0 0;
  }
  textarea {
    width: 350px;
    height: 100px;
  }
  select {
    width: 350px;
  }
}

.red {
  color: red;
}

.table-pad {
  padding-top: 20px;
}

.dropdown-menu {
  margin-left: 30px;

}

.dropdown-menu > .active > a {
  background: #e7e7e7;
  color: #333;
}

.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #e7e7e7;
  color: #fff;
}

.dropdown-menu > li > a {
  color: $button-grey;
  font-size: 90%;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {

  color: #333;
  background: #e7e7e7;
}

.top-pad {
  padding-top: 10px;
}

.pagination > .current {
  background: #e7e7e7;
  padding: 3px 2px;
}

#blue-line-and-fade {
  height: 10px;
  min-height: 0;
  .span12 {
    position: absolute;
  }
  .below-header {
    position: absolute;
    width: 100%;
    height: 39px;
    z-index: -1;
    padding-top: 0;
  }
}

.row-fluid.header-row {
  .span12, .span6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.top-blue {
  border-top: 1px solid #0079c2;
  border-bottom: 1px solid #0079c2;
  margin: 5px 0 0;
}

.btn2 {
  text-shadow: none;
  text-align: left;
  border-radius: 0;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #6cc2ed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #6cc2ed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #6cc2ed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #6cc2ed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #6cc2ed 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #6cc2ed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#6cc2ed', GradientType=0); /* IE6-9 */
  &:hover {
    background: #69c1ed;
  }
  .btn2-txt {
    font-family: 'PT Sans Narrow';
    font-weigt: bold;
    font-size: 24px;
    color: #525254;
  }
}

.search {
  margin-top: 10px;
  input[type='text'] {
    width: 185px;
    height: 14px;
  }
  .btn2 {
    font-family: 'PT Sans Narrow';
    font-weigt: bold;
    font-size: 17px;
    color: #525254;
    padding: 0 10px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}

.btn2.blue-border {
  border: 2px solid $border-blue;
}

.btn2.yellow-border {
  border: 2px solid #ffc425;
}

.btn2.shadow {
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.3);
}

h2.header-large {
  padding-top: 0;
  margin-top: 0;
}

.big-what, .user-name, .header-large {
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
}

.row-fluid.below-header, .below-header {
  padding-top: 10px;
  background: -webkit-radial-gradient(center -7px, 21% 23%, #8bb7d4 0%, #ffffff 272%);
  background: -moz-radial-gradient(center -7px, 21% 23%, #8bb7d4 0%, #ffffff 272%);
  background: -o-radial-gradient(center -7px, 21% 23%, #8bb7d4 0%, #ffffff 272%);
  background: -ms-radial-gradient(center -7px, 21% 23%, #8bb7d4 0%, #ffffff 272%);
  background: radial-gradient(center -7px, 21% 23%, #8bb7d4 0%, #ffffff 272%);
  .user-name {
    padding: 0 12px 0 0;
    border-right: 1px solid #A6A6A6;
  }
}

.row-fluid.home-links {
  position: relative;
  top: -62px;
}

.span3.greyed-out {
  position: relative;
  top: 4px;
}

.disabled:hover {
  background-image: none;
  background-color: #e6e6e6;
}

.collapse {
  z-index: 999;
}

#error_explanation {
  font-color: #f00;
  h2 {
    font-size: 20px;
    font-color: #f00;
  }
}

.edit-links {
  padding-left: 20px;
}

.tab-container {
  padding: 10px;
}

//remove this if you want traditional pagination
.pagination {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  margin: 0;
}

.pagination a, .pagination span {
  padding: 0.2em 0.3em;
}

.pagination .disabled {
  color: #aaaaaa;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.2;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.pagination a {
  text-decoration: none;
  color: black;
}

.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}

.button-container {
  padding: 5px 0;
}

.submit-form {
  text-align: center;
  padding: 20px 0;
}

.update-button {
  padding: 20px 50px;
}

.chart-text {
  padding: 20px 0;
  p {
    font-size: 110%;
    font-weight: bold;
  }
  label {
    font-weight: normal;
  }
}

.mar-top-neg-20 {
  margin-top: -20px;
}
.pad-top-80 {
  padding-top: 80px;
}

.pad-top-60 {
  padding-top: 60px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-20 {
  padding: 20px;
}

.pad-bot-5 {
  padding-bottom: 5px;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.header-text {
  color: darkslategray;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  padding-left: 180px;
}

.green-border {
  border-left: 3px solid #70be44;
}

#flash_messages {
  color: green;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #70be44;
}

.edit-name {
  padding-bottom: 20px;
  padding-left: 10px;
}

.edit-link {
  font-size: 60%;
}

.user-label {
  font-weight: normal;
}

.full-width {
  width: 100%;
}

.project-workflow-text {
  left: 5%;
  position: absolute;
  top: 30px;
  width: 90%;
}

.centered {
  text-align: center;
}

.pad-sides-sm {
  padding-left: 20px;
  padding-right: 20px;
}

#login {
  margin: 0 auto;
  width: 200px;
}

@font-face {
  font-family: 'Droid Sans';
  src: url('DroidSans-webfont.eot');
  src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
  url('DroidSans-webfont.woff') format('woff'),
  url('DroidSans-webfont.ttf') format('truetype'),
  url('DroidSans-webfont.svg#droid_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Sans';
  src: url('DroidSans-Bold-webfont.eot');
  src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('DroidSans-Bold-webfont.woff') format('woff'),
  url('DroidSans-Bold-webfont.ttf') format('truetype'),
  url('DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('OpenSans-CondLight-webfont.eot');
  src: url('OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-CondLight-webfont.woff') format('woff'),
  url('OpenSans-CondLight-webfont.ttf') format('truetype'),
  url('OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('OpenSans-CondBold-webfont.eot');
  src: url('OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-CondBold-webfont.woff') format('woff'),
  url('OpenSans-CondBold-webfont.ttf') format('truetype'),
  url('OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: 700;
  font-style: normal;

}
