.app-nav {
  padding: 20px 0px;
}

.app-nav-item {
  background-color: #dddddd;
  margin-right: 10px;
  font-size: 110%;
}

.inline-heading {
  padding-bottom: 50px;
  font-color: #000;
  font-size: 130%;
  h2 {
    color: #000;
    display: inline;
    font-weight: bold;
  }
}

.bold-text {
  font-weight: bold;
}

.pad-left-40 {

  padding-left: 40px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-tb-20 {
  padding: 20px 0px;
}

.pad-top-10 {
  padding-top:10px;
}

.pad-top-5{
  padding-top:5px;
}

.section-desc {
  font-size: 120%;
}

.form-heading {
  font-size: 120%;
  font-weight: bold;
  padding:10px 20px;
}

a.chevron-toggleable:hover {
  text-decoration: none;
}
