.app-nav {
  padding: 20px 0;
}

.app-nav-item {
  background-color: #ddd;
  margin-right: 10px;
  font-size: 110%;
}

.inline-heading {
  padding-bottom: 50px;
  font-color: #000;
  font-size: 130%;
  h2 {
    color: #000;
    display: inline;
    font-weight: bold;
  }
}

.bold-text {
  font-weight: bold;
}

.pad-left-40 {
  padding-left: 40px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-tb-20 {
  padding: 20px 0;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-5 {
  padding-top: 5px;
}

.section-desc {
  font-size: 120%;
}

.pad-right-5 {
  padding-right: 5px;
}

.form-heading {
  font-size: 120%;
  font-weight: bold;
  padding: 10px 20px;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.panel-title a, .panel-title a:hover {
  text-decoration: none;
}

// Fix for UI grid shifting in Chrome on Windows
.ui-grid-render-container-body {
  float: none;
}