.app-nav {
  padding: 20px 0;
}

.app-nav-item {
  background-color: #ddd;
  margin-right: 10px;
  font-size: 110%;
}

.inline-heading {
  padding-bottom: 50px;
  font-color: #000;
  font-size: 130%;
  h2, h3 {
    color: #000;
    display: inline;
    font-weight: bold;
  }
}

.inline-heading-modal {
  h2, h3 {
    display: inline;
    font-weight: bold;
  }
}

.gray-backgnd {
  background-color: #ccc;
}

.bold-text {
  font-weight: bold;
}

.pad-left-40 {
  padding-left: 40px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-tb-20 {
  padding: 20px 0;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-5 {
  padding-top: 5px;
}

.section-desc {
  font-size: 120%;
}

.pad-right-5 {
  padding-right: 5px;
}

.form-heading {
  font-size: 120%;
  font-weight: bold;
  padding: 10px 20px;
}

// Not sure why this is necessary, but it makes the modal backdrop translucent
.modal-backdrop {
  height: 100%;
  position: fixed;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.panel-title a, .panel-title a:hover {
  text-decoration: none;
}

// Fix for UI grid shifting in Chrome on Windows
.ui-grid-render-container-body {
  float: none;
  overflow: hidden;
}

// Increase modal size
.wide-modal .modal-dialog {
  min-width: 700px;
  width: 90%;
}

// Grid Styling
.layersGrid {
  width: 668px;
  height: 220px;
}

.fenGrid {
  width: 100%;
  height: 80px;
}
.spaceCreatorGrid {
  height: 61px;
}
// Hide selected cell
.ui-grid-cell-focus {
  background-color: inherit;
}

// Toast Styling
:not(.no-enter)#toast-container > div.ng-enter
{
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.special-output {
  font-weight:bold;
  font-size: 150%;
}

