<div class="row nav-container">
  <div class="col-md-12 app-nav" ng-include="'nav/nav.html'"></div>
</div>
<div class="inline-heading">
  <h2>Building <span class="divider">|</span></h2> Set floor area and stories.
</div>
<form class="form-horizontal" ng-submit="submit()" name="form" novalidate>
  <div class="row pad-bot-20">
    <div class="col-md-5">
      <div class="form-group" ng-class="errorClass('name')">
        <label class="col-md-3 control-label" for="building-name">Building Name</label>
        <div class="col-md-5">
          <input id="building-name" name="name" type="text" class="form-control" ng-model="building.name" server-error>
          <p ng-show="form.name.$error.server" class="help-block">
            <span class="has-error">{{ errors.name }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group" ng-class="errorClass('building_azimuth')">
        <label class="col-md-3 control-label" for="building-building-azimuth">Azimuth</label>
        <div class="col-md-5">
          <div class="input-group">
            <input id="building-building-azimuth" name="building_azimuth" type="number" class="form-control" ng-model="building.building_azimuth" server-error>
            <span class="input-group-addon">&deg;</span>
          </div>
          <p ng-show="form.building_azimuth.$error.server" class="help-block">
            <span class="has-error">{{ errors.building_azimuth }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group" ng-class="errorClass('total_floor_area')">
        <label class="col-md-3 control-label" for="building-total-floor-area">Floor Area</label>
        <div class="col-md-5">
          <div class="input-group">
            <input id="building-total-floor-area" name="total_floor_area" type="number" class="form-control" ng-model="building.total_floor_area" server-error>
            <span class="input-group-addon">ft<sup>2</sup></span>
          </div>
          <p ng-show="form.total_floor_area.$error.server" class="help-block">
            <span class="has-error">{{ errors.total_floor_area }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group" ng-class="errorClass('living_unit_count')">
        <label class="col-md-3 control-label" for="building-living-unit-count">Conditioned Space Living Units</label>
        <div class="col-md-5">
          <input id="building-living-unit-count" name="living_unit_count" type="number" class="form-control" ng-model="building.living_unit_count" server-error>
          <p ng-show="form.living_unit_count.$error.server" class="help-block">
            <span class="has-error">{{ errors.living_unit_count }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pad-bot-20">
    <div class="col-md-5">
      <div class="form-group" ng-class="errorClass('relocatable_public_school_building')">
        <div class="col-md-offset-3 col-md-5">
          <div class="checkbox">
            <label><input name="relocatable_public_school_building" type="checkbox" ng-model="building.relocatable_public_school_building" server-error> Relocatable Public School Building</label>
          </div>
          <p ng-show="form.relocatable_public_school_building.$error.server" class="help-block">
            <span class="has-error">{{ errors.name }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="inline-heading">
    <h3>Stories <span class="divider">|</span></h3> Define stories in building
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group mar-bot-0">
        <label class="col-md-3 control-label">Stories Below Ground</label>
        <div class="col-md-5">
          <p class="special-output"><span class="label label-info">{{below}}</span></p>
        </div>
      </div>
      <div class="form-group mar-bot-0">
        <label class="col-md-3 control-label">Stories Above Ground</label>
        <div class="col-md-5">
          <p class="special-output"><span class="label label-info">{{above}}</span></p>
        </div>
      </div>
      <div class="form-group" ng-class="storyError()">
        <div class="col-md-3 text-right">
          <label class="control-label full-width">Total Stories</label>
          <p ng-show="errors.total_story_count" class="errors help-block">
            <span class="has-error">{{ errors.total_story_count }}</span>
          </p>
        </div>
        <div class="col-md-5">
          <p class="special-output"><span class="label label-info" ng-class="{'label-danger': !stories.length}">{{stories.length}}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pad-bot-20">
    <div class="col-md-12">
      <button type="button" ng-click="addStory()" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Story
      </button>
      <input
          bs-switch
          ng-model="autoElevation"
          type="checkbox"
          switch-label="Autocalculate Height"
          switch-on-color="info">
      <div class="pull-right">
        <button type="button" ng-click="duplicateStory()" class="btn btn-info" ng-disabled="!selected">Duplicate</button>
        <button type="button" ng-click="deleteStory()" class="btn btn-danger" ng-disabled="!selected">Delete</button>
      </div>
    </div>
  </div>
  <div ui-grid="storiesGridOptions" ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ui-grid-selection></div>
  <div class="row pad-bot-20 pad-top-20">
    <div class="control-group col-md-1">
      <div class="controls">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</form>
