<footer class="footer">
  <div class="container">
    <p class="text-muted">This application is powered by <%= link_to 'OpenStudio', 'https://www.openstudio.net/' %>, <%= link_to 'EnergyPlus', 'http://apps1.eere.energy.gov/buildings/energyplus/' %>, and <%= link_to 'CBECC-Com', 'http://bees.archenergy.com/' %>.</p>
  </div>
</footer>
